
.wraper {
   padding: 20px;

   .password-level {
     margin: 10px;
   }

   .sections {
     display: flex;
     justify-content: center;
     margin-top: 50px;
   }

   .first-section,
   .second-section,
   .third-section {
     background-color: transparent;
     width: 170px;
     height: 50px;
     margin-left: 5px;
   }

   .password-level {
     font-size: 18px;
     text-align: center;
   }
 }